

.container h1 {
    font-size: 100px;
    color: white;
}

.container h2 {
    color: white;

}

.container h2 span {
    color: white;
    font-size: 40px;
    background: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    border-radius: 14px;
    padding: 4px;
}

.container {
    padding: 140px;
}

.nav-item {
    font-size: 25px;
    font-weight: bold;
}

.container-fluid .navbar-brand a {
    font-size: 50px;
    font-weight: bold;
}


.nav-link{
    color: black;
}

.nav-link:hover {
    color: orangered;
    transition: 0.5s;
}

.dropdown-item {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-item:hover {
    .dditem1 {
    border-bottom:3px solid orangered;
} 
}



.btn {
    border-radius: 0;
    background-color: rgb(1, 197, 24);
    color: #fff;
    font-size: 30px;
    font-weight: bold;

}

.btn:hover {
   transition: 0.5s;
    box-shadow: 8px 10px 0 black;
}

.mobile-menu:hover {
    color: orangered;
    transition: 0.5s;
}

.mobile-menu:active {
    color: orangered;
}

.btn1 {
    font-weight: 500;
     background: orangered; 
     border: orangered 3px solid; 
      border-radius: 30px;
       font-size: 30px; 
       color: white;
        padding: 5px 40px;
}

.btn1:hover {
    background: transparent;
    border-color: orangered;
    color: orangered;
    transition: 0.5s all ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }